@charset "UTF-8";

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

h2 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 30px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

input {
    width: 200px;
    padding: 8px;
    margin-bottom: 18px;
    border-bottom: 2px solid black;
    border-left:none;
    border-right:none;
    border-top:none;
    outline: none;
}

label {
    margin-right: 20px;
    font-family: "Open Sans", sans-serif;
}

#sub {
    background: #4285F4;
    border: none;
    margin-left: 140px;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

form {
    border: 2px solid #4CAF50;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}
